In [ ]:
import pandas as pd

df2013= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2013.csv',encoding='cp949')
df2014= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2014.csv',encoding='cp949')
df2015= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2015.csv',encoding='cp949')
df2016= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2016.csv',encoding='cp949')
df2017= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2017.csv',encoding='cp949')
df2018= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2018.csv',encoding='cp949')
df2019= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2019.csv',encoding='cp949')
df2020= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\내국인\creaditcard_P_2020.csv',encoding='cp949')
df2021_1= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2021 정제\202101_202109.csv',encoding='cp949')
df2021_2= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2021 정제\2021_10.csv',encoding='cp949')
df2021_3= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2021 정제\2021_11.csv',encoding='cp949')
df2021_4= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2021 정제\2021_12.csv',encoding='cp949')
df2021=pd.concat([df2021_1, df2021_2,df2021_3,df2021_4])
df=pd.concat([df2013,df2014,df2015,df2016,df2017,df2018,df2019,df2020,df2021])
df= df.reset_index()

# 격자

In [ ]:
df1=pd.DataFrame()
WW=WW.iloc[:,0]
for i in list(WW):
    b=df[df["BLK"].values==i].index
    a=b.values
    list4 = a.tolist()
    for a in list4:
        df1.append(df.iloc[a,:])

Tour=df1[df1["TOUR_GB"] == "도민"].index
df1=df1.drop(Tour)

# 성별+연령대

In [8]:
df=NW[["TA_YM","SEX_CCD","AMT_CORR"]]
df2=df.groupby(["TA_YM","SEX_CCD"]).sum()
df2=df2.reset_index()
df2=df2[["TA_YM","SEX_CCD","AMT_CORR"]]
df2.to_csv(r'C:\Users\user\Desktop\월.csv',encoding='cp949')

# 거주지별

In [ ]:
def toJeju(NW):
    list1 = [2013,2015,2017,2019,2020,2021]
    data=NW[["TA_YM","C_SIDO_NM","AMT_CORR"]]
    to=pd.DataFrame()
    for i in list1:
        data["TA_YM"]=data["TA_YM"].astype(str)
        data1 = data[data["TA_YM"].str.contains("%s"%i)]
        data1["TA_YM"]=data1["TA_YM"].astype("int")
        data2=data1.groupby("C_SIDO_NM").sum()
        data2=data2.reset_index()
        to["지역"] = data2["C_SIDO_NM"]
        to["%s"%i] =data2.iloc[:,2].values
    to.iloc[:,0:]
    to.to_csv(r'C:\Users\user\Desktop\거주지.csv',encoding="cp949")
toJeju(NW)

# 업종

In [3]:
G_R= [561,5611,56111,56112,56113,56114,56119,562,5621,56211,56212,56219]# General restaurant, 일반음식점
R_R= [5619,56191,56192,56193,56194,56199,5622,56220] #resting restaurant, 기타음식점
A_F= [551,5511,55111,55112,55113,55119,559,5590,55909] #accommodation facility, 숙박시설
R_S = [47,471,4711,47111,47119,4712,47121,47122,47129,4719,
                    47190,472,4721,47211,47212,47213,47214,47215,47216,
                    47219,4722,47221,47222,474,476,4761,47611,4764,47640,
                    477,4771,47711,47712,478,4781,47813,4784,47841,47842,4785,47852,4786] #retail store, 소매업

In [10]:
for i in NW.iloc[:,11]:
    if i in G_R:
        NW["IDCS_CD"] = NW["IDCS_CD"].replace(i, "일반음식점업")
    elif i in R_R:
        NW["IDCS_CD"] = NW["IDCS_CD"].replace(i, "기타음식점업")
    elif i in A_F:
        NW["IDCS_CD"] = NW["IDCS_CD"].replace(i, "숙박시설업")
    elif i in R_S:
        NW["IDCS_CD"] = NW["IDCS_CD"].replace(i, "소매업")

In [ ]:
NW.to_csv(r'C:\Users\user\Desktop\월정리.csv',encoding="cp949")

# 그리드 업종

In [ ]:
def WTF (data,input):
    df=data[["TA_YM","BLK","IDCS_CD","AMT_CORR"]]
    df1 =df.groupby(['TA_YM',"BLK",'IDCS_CD']).sum()
    df1=df1.reset_index()
    df1["TA_YM"]=df1["TA_YM"].astype(str)
    df2 = df1[df1["TA_YM"].str.contains("%s"%input)]
    df2["TA_YM"]=df2["TA_YM"].astype("int") 
    for i in df2.iloc[:,2]:
        if i in G_R:
            df2["IDCS_CD"] = df2["IDCS_CD"].replace(i, "일반음식점업")
        elif i in R_R:
            df2["IDCS_CD"] = df2["IDCS_CD"].replace(i, "기타음식점업")
        elif i in A_F:
            df2["IDCS_CD"] = df2["IDCS_CD"].replace(i, "숙박시설업")
        elif i in R_S:
            df2["IDCS_CD"] = df2["IDCS_CD"].replace(i, "소매업")   
    df2 =df2[["BLK",'IDCS_CD','AMT_CORR']]
    na=df2[(df2["IDCS_CD"] != "일반음식점업") & (df2["IDCS_CD"] != "기타음식점업")&
        (df2["IDCS_CD"] != "숙박시설업")&(df2["IDCS_CD"] != "소매업")].index

    df2=df2.drop(na)
    YM=df2["BLK"].drop_duplicates()
    IDCS=df2["IDCS_CD"].drop_duplicates()
        
    for b in IDCS:
        fin_R_S=df2[df2["IDCS_CD"]=="%s"%b].groupby(['BLK']).sum()
        fin_R_S=fin_R_S.reset_index()
        fin_CO=pd.DataFrame()
        fin_CO["GridName"]=YM
        for i in YM:
            if i in fin_R_S["BLK"].values:
                pass
            elif i not in fin_R_S["BLK"].values:
                small_s = {i: (i,"%s"%b,0)}
                for col,ro in small_s.items():
                    df2.loc[col] = ro
                    df2=df2.sort_values(by=['BLK'])
                    df2=df2.reset_index(drop=True)
    
    
    
    for a in IDCS:
        fin_CO.loc[:,"%s" %a]= df2[df2["IDCS_CD"]== "%s" %a].groupby(['BLK'])["AMT_CORR"].sum().values
    fin_CO.to_csv('C:\\Users\\user\\Desktop\\월정리\\그리드 업종_%s.csv'%input,encoding='cp949')
    
WTF(NW,2021)

# 그리드 연령

In [ ]:
def age(NW,input,a):    
    df=NW[["TA_YM","BLK","AGE_GB","SEX_CCD","AMT_CORR"]]


    
    df=df[df["SEX_CCD"]=="%s"%a]
    df1 =df.groupby(['TA_YM',"BLK",'AGE_GB']).sum()
    df1=df1.reset_index()
    df1["TA_YM"]=df1["TA_YM"].astype(str)
    df2 = df1[df1["TA_YM"].str.contains("%s"%input)]
    
    df2=df2[["BLK","AGE_GB","AMT_CORR"]]
    dfl=df2["BLK"].drop_duplicates() ## 중복행 처리
    AGE_Z=df2["AGE_GB"].drop_duplicates()

    for b in AGE_Z:
        fin_R_S=df2[df2["AGE_GB"]=="%s"%b].groupby(['BLK']).sum()
        fin_R_S=fin_R_S.reset_index()
        fin_CO=pd.DataFrame()
        fin_CO["GridName"]=dfl
        for i in dfl:
            if i in fin_R_S["BLK"].values:
                pass
            elif i not in fin_R_S["BLK"].values:
                small_s = {i: (i,"%s"%b,0)}
                for col,ro in small_s.items():
                    df2.loc[col] = ro
                    df2=df2.sort_values(by=['BLK'])
                    df2=df2.reset_index(drop=True)
    df2["AGE_GB"] = df2["AGE_GB"].astype("int")
    AG_2=df2[(df2["AGE_GB"]==1)|(df2["AGE_GB"]==2)].groupby(['BLK']).sum()
    AG_6=df2[(df2["AGE_GB"]==6)|(df2["AGE_GB"]==7)|(df2["AGE_GB"]==8)].groupby(['BLK']).sum()
    AG_3=df2[(df2["AGE_GB"]==3)].groupby(['BLK']).sum()
    AG_4=df2[(df2["AGE_GB"]==4)].groupby(['BLK']).sum()
    AG_5=df2[(df2["AGE_GB"]==5)].groupby(['BLK']).sum()
    AG_2=AG_2.reset_index()
    AG_6=AG_6.reset_index()
    AG_3=AG_3.reset_index()
    AG_4=AG_4.reset_index()
    AG_5=AG_5.reset_index()
    fin_AGE=pd.DataFrame()
    fin_AGE["GridName"]=dfl
    fin_AGE=fin_AGE.sort_values(by=['GridName'])
    fin_AGE=fin_AGE.reset_index(drop=True)
    fin_AGE["20대 이하"] =AG_2.iloc[:,2].values
    fin_AGE["60대 이상"] =AG_6.iloc[:,2].values
    fin_AGE["30대"] =AG_3.iloc[:,2].values
    fin_AGE["40대"] =AG_4.iloc[:,2].values
    fin_AGE["50대"] =AG_5.iloc[:,2].values
    fin_AGE.to_csv('C:\\Users\\user\\Desktop\\그리드 연령+성별 %s 여.csv'%input,encoding='cp949')

age(NW,input="2021",a="F")

# 업종별

In [ ]:
df4 =df2.groupby(['TA_YM','IDCS_CD']).sum()
df4=df4.reset_index()
for i in df4.iloc[:,1]:
    if i in G_R:
        df4["IDCS_CD"] = df4["IDCS_CD"].replace(i, "일반음식점")
    elif i in R_R:
        df4["IDCS_CD"] = df4["IDCS_CD"].replace(i, "기타음식점")
    elif i in A_F:
        df4["IDCS_CD"] = df4["IDCS_CD"].replace(i, "숙박시설")
    elif i in R_S:
        df4["IDCS_CD"] = df4["IDCS_CD"].replace(i, "소매업")   
df4 =df4[['TA_YM','IDCS_CD','AMT_CORR',"USECT_CORR"]]
na=df4[(df4["IDCS_CD"] != "일반음식점") & (df4["IDCS_CD"] != "기타음식점")&
    (df4["IDCS_CD"] != "숙박시설")&(df4["IDCS_CD"] != "소매업")].index

df4=df4.drop(na)
df4

In [ ]:
YM=df4["TA_YM"].drop_duplicates()
IDCS=df4["IDCS_CD"].drop_duplicates()
    
for b in IDCS:
    fin_R_S=df4[df4["IDCS_CD"]=="%s"%b].groupby(['TA_YM']).sum()
    fin_R_S=fin_R_S.reset_index()
    fin_CO=pd.DataFrame()
    fin_CO["연도"]=YM
    for i in YM:
        if i in fin_R_S["TA_YM"].values:
            pass
        elif i not in fin_R_S["TA_YM"].values:
            small_s = {i: (i,"%s"%b,0,0)}
            for col,ro in small_s.items():
                df4.loc[col] = ro
                df4=df4.sort_values(by=['TA_YM'])
                df4=df4.reset_index(drop=True)



for a in IDCS:
    fin_CO.loc[:,"%s" %a]= df4[df4["IDCS_CD"]== "%s" %a].groupby(['TA_YM'])["AMT_CORR"].sum().values
    
fin_CO =fin_CO[["연도","일반음식점","기타음식점","숙박시설","소매업"]]

In [ ]:
fin_CO.to_csv(r'C:\Users\user\Desktop\업종령별.csv',encoding='cp949')

# 연령별

In [ ]:
df5 =df2.groupby(['TA_YM',"AGE_GB"]).sum()
df5=df5.reset_index()
df5 =df5[['TA_YM','AGE_GB',"AMT_CORR"]]

In [ ]:

AG_2=df5[(df5["AGE_GB"]==1)|(df5["AGE_GB"]==2)].groupby(['TA_YM']).sum()
AG_6=df5[(df5["AGE_GB"]==6)|(df5["AGE_GB"]==7)|(df5["AGE_GB"]==8)].groupby(['TA_YM']).sum()
AG_2=AG_2.reset_index()
AG_6=AG_6.reset_index()

dfl=df5["TA_YM"].drop_duplicates() ## 중복행 처리
fin_AGE=pd.DataFrame()
fin_AGE["연도"]=dfl

for i in range(1,9):
    if i ==1 or i==2:
        fin_AGE["20대 이하"] =0
        #fin_AGE["20대 이하횟수"]=0
        fin_AGE["20대 이하"] =AG_2.iloc[:,2].values
        #fin_AGE["20대 이하횟수"] =AG_2.iloc[:,3].values
    elif i == 6 or i== 7 or i== 8:
        fin_AGE["60대 이상"] =0
        #fin_AGE["60대 이상횟수"] =0
        fin_AGE["60대 이상"] =AG_6.iloc[:,2].values
        #fin_AGE["60대 이상횟수"] =AG_6.iloc[:,3].values
    else:
        fin_AGE["%d0대" % i]=0
        #fin_AGE["%d0대횟수" % i]=0
        fin_AGE["%i0대" %i]=df5.iloc[df5[df5["AGE_GB"] == i].index,2].values
        #fin_AGE["%i0대횟수" %i]=df5.iloc[df5[df5["AGE_GB"] == i].index,3].values

In [ ]:
fin_AGE.to_csv(r'C:\Users\user\Desktop\creaditcard_P_2020_연령별.csv',encoding='cp949')