In [ ]:
import pandas as pd
card_07= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\creaditcard_P_2022_07.csv',encoding='cp949')
card_09= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\creaditcard_P_2022_09.csv',encoding='cp949')
card_08= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\creaditcard_P_2022_08.csv',encoding='cp949')
card_F_09= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\외국인\creaditcard_F_2022_09.csv',encoding='cp949')
card_F_08= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\외국인\creaditcard_F_2022_08.csv',encoding='cp949')
card_F_07= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\외국인\creaditcard_F_2022_07.csv',encoding='cp949')
#df= pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2022 정제\외국인\creditcard_F_2019.csv',encoding='cp949')

#df = pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2019 정제\creaditcard_P_2019.csv',encoding='cp949')
#df = pd.read_csv(r'C:\Users\user\Desktop\카드 데이터\card_data\2020 정제\creaditcard_P_2020.csv',encoding='cp949')


#df=pd.concat([card_07,card_08,card_09])

df=pd.concat([card_F_09,card_F_08,card_F_07])
df=df.reset_index()

In [ ]:
restauran =[561,5611,56111,56112,56113,56114,56119,5619,56191,
                     56192,56193,56194,56199,56211,56212,562,5621,56211,56212,56219,5622,56220]

art=[912,9022,90221,90222,9023,90231,90232,9112,91121,91136,9121,91210,9122,91221,
      91222,91223,91229,9123,91231,91239,9124,91241,91249,9129,91291,91292,91293,91299]

etc = [69110,752,7521,75211,75212,7529,75290,9611,96111,96112,96113,96119,9612,96121,96122,96129]

accommodation =[51,5511,55111,55112,55113,55114,55119, 55909]

retail=[47,471,4711,47111,47119,4712,47121,47122,47129,47130,4719,47190,472,4721,47211,47212,47213,47214,47215,
            47216,47219,4722,47221,47222,4771,47711,47712,4784,47841,47842]

# 내국인

In [ ]:
df1=pd.DataFrame()
WW=WW.iloc[:,0]
for i in list(WW):
    b=df[df["BLK"].values==i].index
    a=b.values
    list4 = a.tolist()
    for a in list4:
        df1.append(df.iloc[a,:])
#격자

In [ ]:
def industry(data,input):
    data=data.iloc[:,2:]
    domestic=data[data["TOUR_GB"] == "%s"%input].index
    data2=data.drop(domestic)
    
    data4 =data2.groupby(['TA_YM','IDCS_CD']).sum()
    data4=data4.reset_index()


    for i in data4.iloc[:,1]:
        if i in restauran:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "restauran")
        elif i in art:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "art")
        elif i in etc:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "etc")
        elif i in accommodation:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "accommodation")
        elif i in retail:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "retail")    
    
    
    data4 =data4[['TA_YM','IDCS_CD','AMT_CORR']]
    na=data4[(data4["IDCS_CD"] != "restauran") & (data4["IDCS_CD"] != "art")&
        (data4["IDCS_CD"] != "etc")&(data4["IDCS_CD"] != "accommodation")&(data4["IDCS_CD"] != "retail")].index
    data4=data4.drop(na)

    YM=data4["TA_YM"].drop_duplicates()
    IDCS=data4["IDCS_CD"].drop_duplicates()
    
    fin_CO=pd.DataFrame()
    fin_CO["연도"]=YM
    for year in YM:
        for word in IDCS:
            if len(data4[(data4["TA_YM"]==year) |data4["IDCS_CD"]==word]) > 0:
                pass
            elif len(data4[(data4["TA_YM"]==year) |data4["IDCS_CD"]==word]) == 0:
                small_s = {year: (year,"%s" %word,0)}
            for col,ro in small_s.items():
                data4.loc[col] = ro
                data4=data4.sort_values(by=['TA_YM'])
                data4=data4.reset_index(drop=True)

    for a in IDCS:
        fin_CO.loc[:,"%s" %a]= data4[data4["IDCS_CD"]== "%s" %a].groupby(['TA_YM'])["AMT_CORR"].sum().values
    #for i,j in zip(list1,list2):
    #    fin_CO.loc[:,"%s"%i]=df4[df4["IDCS_CD"]== "%s"%j].groupby(['TA_YM'])["USECT_CORR"].sum().values


    fin_CO.to_csv('C:\\Users\\user\\Desktop\\삼다 %s 뺀거.csv'%input ,encoding='cp949')
    

industry(df1,input="도민")

# 외국인

In [ ]:
df1=df[(df["M_DONG_NM"]=="연동")]
df2= df1[(df1["TA_YM"]==201908)|(df1["TA_YM"]==201909)|(df1["TA_YM"]==201907)]

In [ ]:
def industry(data):
    data=data.iloc[:,2:]

    data3 =data.groupby(["TA_YM",'IDCS_CD']).sum()
    data3=data3.reset_index()
    data4 =data3[["TA_YM",'IDCS_CD',"AMT_CORR"]]
    
    for i in data4.iloc[:,1]:
        if i in restauran:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "restauran")
        #elif i in transport:
        #    data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "transport")
        elif i in art:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "art")
        elif i in etc:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "etc")
        elif i in accommodation:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "accommodation")
        elif i in retail:
            data4["IDCS_CD"] = data4["IDCS_CD"].replace(i, "retail")    
    data4 =data4[['TA_YM','IDCS_CD','AMT_CORR']]
    
    na=data4[(data4["IDCS_CD"] != "restauran") & (data4["IDCS_CD"] != "art")&
        (data4["IDCS_CD"] != "etc")&(data4["IDCS_CD"] != "accommodation")&(data4["IDCS_CD"] != "retail")].index
    data4=data4.drop(na)

    YM=data4["TA_YM"].drop_duplicates()
    IDCS=data4["IDCS_CD"].drop_duplicates()

    fin_CO=pd.DataFrame()
    fin_CO["연도"]=YM
    for year in YM:
        for word in IDCS:
            if len(data4[(data4["TA_YM"]==year) |data4["IDCS_CD"]=="etc"]) > 0:
                pass
            elif len(data4[(data4["TA_YM"]==year) |data4["IDCS_CD"]=="etc"]) == 0:
                small_s = {year: (year,"%s" %word,0)}
            for col,ro in small_s.items():
                data4.loc[col] = ro
                data4=data4.sort_values(by=['TA_YM'])
                data4=data4.reset_index(drop=True)

    for a in IDCS:
        fin_CO.loc[:,"%s" %a]= data4[data4["IDCS_CD"]== "%s" %a].groupby(['TA_YM'])["AMT_CORR"].sum().values

    fin_CO.to_csv('C:\\Users\\user\\Desktop\\산지 외국인.csv',encoding='cp949')


industry(df2)